@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500&display=swap');

:root{
    --orange: #ff7800;
    --black: #000;
    --light-color: #666;
    --box-shadow :0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(var(--black));
}

*{
    font-family: 'Edu SA Beginner', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all ,2s linear;
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background : lightslategray;
}

section{
    padding: 2rem 9%;
}


.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #000;
    background: #ff7800;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: right;
    float: right;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #ffff;
    box-shadow: var(--box-shadow);
}


.navbar
{
  position:relative;    
  float:right;           
  list-style-type:none;   
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: 0.2rem;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color: #fff;   
}

#menu-btn{
    display: none;
}

.header .search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 2rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 1.5rem;
    margin-right: 0.5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding: 0 1rem;
}

.header .search-form label:hover{
    color: var(--orange);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
padding-top: 17rem;
padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h2{
    color: #000;
    font-size: 3rem;
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5em;
}

.features .box-container .box{
    height: auto;
    width: 75%;
    padding: 1rem 0.5rem;
    background: lightgray;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: -1rem;
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}