<html>
    <head>
        <title>Add Category Form</title>
        <link rel="stylesheet" href="s1.css">
    </head>
    <body>

        <h1>Add Category</h1>
        <div>
            <form action="/restaurant/add_category" method ="post">
                <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="" name="name" required>
                          </div>
                          
                <br><br>
                <button>Add</button>
            </form>
            </div>
    </body>
</html>