<html>
    <head>
        <title>Login form</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>

    <body>
      <div class="login">
        <img src="/images/loginIcon.jpg" class="login_image">
        <h1>Login here</h1>
        <form action='/restaurant/login' method='post'>
            <label for="email">E-mail</label><br>
            <input type="text" id="email" name="email" required>
            <br><br>
            <label for="password">Password</label> <br>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button class="button">Login</button>
        </form>
        </div>
    </body>
</html>