<html>
<head>
    <title>search Form</title>
    <link rel="stylesheet" href="s1.css">
</head>
<body>

<h1>search</h1>
<div>
    <form action="" method="post">
        <div className="form-group">
            <label htmlFor="name">Name</label>
            <input type="text" className="form-control" id="item" placeholder="" name="item" >
        </div>

        <br><br>
            <button class ="search">Search</button>
    </form>
</div>
</body>
</html>