<html>
    <head>
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>

        <div class="login">
            <img src="/images/loginIcon.jpg" class="login_image">
            <h1>Sign Up here</h1>
            <form action="/customer/signup" method ="post">
                <label for="name">Name</label><br>
                <input type="text" id="username" name="name" required>
                <br><br>
                <label for="email">Email</label> <br>
                <input type="email" id="email" name="email" required>
                <br><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password">
                <br><br>
                <label for="mobile">Mobile no</label><br>
                <input type="text" name="mobile" id="mobile">
                <br><br>
                <button class="button">Sign Up</button>
            </form>
            </div>
    </body>
</html>